.accordion-item {
    background-color: #2c3333;
}

.name{
    background-color: #395b64;
    color: whitesmoke;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #395b64;
}

.table{
    background-color: #2c3333;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.titles{
    color: whitesmoke;
}

.body{
    color: whitesmoke;
}

